<script>
  import {
    Page,
    Navbar,
    NavTitle,
    NavTitleLarge,
    Link,
    Toolbar,
    Block
  } from "framework7-svelte";
</script>

<Page name="home">
  <!-- Top Navbar -->
  <Navbar large>
    <NavTitle>testapp</NavTitle>
    <NavTitleLarge>testapp</NavTitleLarge>
  </Navbar>
  Edit this text and deploy. Let's see if we get an update message!?
</Page>
